.body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
   
}
.game-area{
    background-color: wheat;
    margin-left: 80px;
    border-radius: 15px;
    padding: 20px;
    
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.game-plan{
    color: blueviolet;
}
.side-bar{
    width: 300px;
    height: 600px;
    background-color: wheat;
    margin-right: 80px;
    border-radius: 15px;
    padding: 20px;
    position: sticky;
    top: 0;
    
}
.name{
    line-height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.name img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.info{
    background-color: bisque;
    padding:10px;
    text-align: center;
    line-height:0rem;
    display:flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.time{
    background-color: burlywood;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 25px;
}
.btn-complete{
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .body{

        display: flex;
        flex-direction: column;
        width:150%;
        padding:0;
        
        
    }
    .card-container{
        display:flex;
        flex-direction: column;
        width: 100%;
       
    }
    .side-bar{
        width: 100%;
           
  }
}